@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

body
{
    background: black;
    font-family: 'Gayathri', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

#body-wrapper
{
    height: auto;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

canvas
{
    border: 3px solid lightBlue; 
}

#details-wrapper
{
    position: absolute;
    top: 27px;
    background: white;
    border: 6px solid black;
    border-radius: 15px;
    margin-left: -3px;
    margin-top: -7px;
}

.tool
{
    position: relative;
    left:10px;
}

#bottom-rule
{
    margin-top: -15px;
}

#tooltip
{
    position: absolute;
    top:100px;
    display: none;
    background: black;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

#description
{
    overflow-y:hidden;
    position: relative;
    left:10px;
    margin-top:-10px;
    margin-right:10px;
    font-size: 0.9em;
}

#project-title
{
    color: aliceblue;
    padding-left: 35px;
    font-size: 3em;
    background: black;
    border: 6px solid black;
}

.slider 
{
    -webkit-appearance: none;
    width: 40%;
    position: relative;
    background: #d3d3d3;
    outline: none;
    margin-left: 220px;
    margin-right: 15%;
    bottom: 25px;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #44B5E8;
    cursor: pointer;
}
